* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.item {
  width: 10%;
  height: 300px;
  color: #bbc;
  background-color: rgb(74, 74, 218);

  font-size: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 300px;
  margin-top: 20px;
  float: left;
  cursor: pointer;
}
.options {
  background-color: hsl(160, 13%, 59%);
  height: 300px;
  color: hsl(164, 15%, 14%);
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  float: left;
  margin-top: 20px;
  margin-left: 0;
  padding: 5px;
  text-align: center;
  width: 0;
  display: none;
}
